<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <script type="text/javascript" src="{% static 'voice_app/js/particles.js' %}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'voice_app/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>    
    <title>Voice App</title>
</head>

<body style="background-color: {{ request.session.color }} !important;">
    <div id="particles-js"></div>
    <div id="loading-wrapper" style="display: none;">
        <div class="animated infinite pulse" id="loading-text">LISTENING</div>
        <div id="loading-content"></div>
    </div>
    <div class ="animated" id="about_wrapper" style="display: none;">
        <center>
            <h2>Creators</h2> <a class = "close">x</a>
            <p>Sam Guerreo | <a href = "https://github.com/samkguerrero"><i class="fa fa-github"></i></a> | samkguerreo@gmail.com</p>
            <p>Vlad Dziun | <a href = "https://github.com/mrwader"><i class="fa fa-github"></i></a> | v.dziun@gmail.com</p>
            <p>Haytham Odeh | <a href = "https://github.com/haythamodeh"><i class="fa fa-github"></i></a> | hodelion@gmail.com</p>
        </center>

    </div>
    <div id="blur">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <!-- <div id='title'>
            <span>
                PURE CSS
            </span>
            <br>
            <span>
                PARALLAX PIXEL STARSvcbcbcbcbcb
            </span>
        </div> -->
        <div class="container">
            <div class="activityLogWrapper">
                <h3>Recent Commands:</h3>
                <div class="activityLog animated pulse">
                    {% for item in all_items %}
                    <p>&nbsp;{{ item.item }}</p>
                    {% endfor %}
                </div>

                <form action="/clearActivityLog">
                    <input type="submit" value="Clear" class="clearbtn">
                </form>
            </div>
            <div id = "commands_wrapper" class = "animated bounceInRight">
                    <h3>Sample Commands:</h3>
                     <div class = "commandLog">
                        <p>&nbsp;ex: current weather in "city" (any city)</p>
                        <p>&nbsp;ex: pollution for "china" (any country)</p>
                        <p>&nbsp;ex: top news</p>
                        <p>&nbsp;ex: tell me a joke</p>
                        <p>&nbsp;ex: i love you</p>
                        <p>&nbsp;ex: hello</p>
                        <p>&nbsp;ex: how are you</p>
                        <p>&nbsp;ex: goodbye</p>
                        <p>&nbsp;ex: open wesbite "google.com" (any website)</p>
                        <p>&nbsp;ex: clip "video" (any video): click microphone and say "stop" to stop video</p>
                        <p>&nbsp;ex: "cat" pictures (any noun)</p>
                        <p>&nbsp;ex: song "song" (any song): say "stop" to stop song</p>
                        <p>&nbsp;ex: who is "tom cruise" (any person)</p>
                        <p>&nbsp;ex: scores for "city" (any city)</p>
                        <p>&nbsp;ex: search "dogs" (any noun)</p>
                    </div>
                </div>
                
            <div class="main-content-wrapper">
                <div class="main-content">
                    <p id="last_thing_said" class="animated slideInDown" style="font-size: 40px;">{{last_phrase.content.upper}}</p>
                    <hr style="border-color: rgba(255, 255, 255, 0.39);">

                    <iframe class="animated slideInDown" style ="{{request.session.style}}" width="650"
                    height="450" src="{{request.session.url}}" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>

                    {% load static %}
                    <audio style="display:none" id="playback" controls>
                        <source src="{% static request.session.song_id %}" type="audio/mpeg">
                    </audio>

                    {% if last_phrase.content == request.session.command_for_pics %}
                    <div class="container animated slideInDown">
                        {% for i in request.session.main_content %}
                        {{ i | safe }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if last_phrase.content == 'I love you too' %}
                        <h3>You're so loved!</h3>
                        <iframe 
                            width="760" 
                            height="515" 
                            src="https://www.youtube.com/embed/Uq734_nZ7Eo?rel=0&autoplay=1&start=13" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    {% endif %}

                    {% if last_phrase.content == 'Oh look, it is richard nixon' %}
                        <p>So much Rich</p>
                        <img width="300px" height="300px" src="https://images-na.ssl-images-amazon.com/images/I/718e9Qe67RL.jpg" alt="nix1">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><img style="width:200px; height:200px"src="https://www.washingtonpost.com/pbox.php?url=http://www.washingtonpost.com/blogs/in-the-loop/files/2013/08/nixon1-300x198.jpg&w=1484&op=resize&opt=1&filter=antialias&t=20170517" alt="nixon"></td>
                                    <td><img style="width:200px; height:200px"src="https://66.media.tumblr.com/805ed63647377f328df72ee16ee7e1ee/tumblr_ne1xwyFIsG1u12utdo1_400.jpg" alt="nixon"></td>
                                    <td><img style="width:200px; height:200px"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUFaYQEs9sPI1KPoSYZpypprLtYvDF-rfjIdi3HCvs_fn1Ywj5" alt="nixon"></td>
                                </tr>
                                <tr>
                                    <td><img style="width:200px; height:200px"src="https://ocweekly.com/wp-content/uploads/2018/11/6442178_dick.jpg" alt="nixon"></td>
                                    <td><img style="width:200px; height:200px"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTumnSa_XY_qZIvd9gno3tYq7mVR7p4FY0XshboeD2DfyXIgZru" alt="nixon"></td>
                                    <td><img style="width:200px; height:200px"src="https://www.picclickimg.com/d/l400/pict/113615116600_/Tricky-Dick-Richard-Nixon-stoner-poster-21-x.jpg" alt="nixon"></td>
                                </tr>
                                <tr>
                                    <td><img style="width:200px; height:200px"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3g2Y8mpVpX6r7Z8_ZV5B6vFLajdSmYYlNSicL6z2fRBL3n3I" alt="nixon"></td>
                                    <td><img style="width:200px; height:200px"src="https://media.mnn.com/assets/images/2010/01/intro_5.jpg.560x0_q80_crop-smart.jpg" alt="nixon"></td>
                                    <td><img style="width:200px; height:200px"src="https://law.duke.edu/sites/default/files/timeline_images/young_nixon.jpeg" alt="nixon"></td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}

                    {% if last_phrase.content == request.session.command_for_city_scores_compare %}
                        <div>

                            <br>

                            <h3>Quality of Life Ratings for {{ request.session.city_score_info_name }}</h3>
                            <p style="display:none" id="data_for_viz_radar">{{ request.session.data_for_viz_radar }}</p>
        
                            <br>

                            <canvas 
                                id="chartjs-2" 
                                class="chartjs" 
                                width="770" 
                                height="425" 
                                style="display: block; width: 770px; height: 385px;"
                            ></canvas>
    
                            <br>
                            <br>
    
                            <i>{{ request.session.city_score_info_summary|safe }}</i>
                        </div>
                    {% endif %}

                    {% if last_phrase.content == request.session.command_for_data %}

                    <p>Air Quality Index (AQI) for major cities in this country</p>

                    <p style="display:none" id="data_for_viz">{{ request.session.chart_data_city_scores }} </p>
                    <p style="display:none" id="label_for_viz">{{ request.session.chart_data_city_names }} </p>

                    <canvas id="chartjs-1" class="chartjs" width="770" height="325"
                        style="display: block; width: 770px; height: 385px;"></canvas>

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th><strong>Air Quality Index<br>
                                        (AQI) Values</strong></th>
                                <th><strong>Levels of Health Concern</strong></th>
                            </tr>
                            <tr>
                                <th><strong><em>When the AQI is in this range</em>:</strong></th>
                                <th><em>.<strong>.air quality conditions are:</strong></em></th>
                            </tr>
                            <tr>
                                <td>0 to 50 </td>
                                <td> Good</td>
                            </tr>
                            <tr>
                                <td>51 to 100 </td>
                                <td>Moderate</td>
                            </tr>
                            <tr>
                                <td>101 to 150 </td>
                                <td>Unhealthy for Sensitive Groups </td>
                            </tr>
                            <tr>
                                <td>151 to 200</td>
                                <td>Unhealthy </td>
                            </tr>
                            <tr>
                                <td>201 to 300</td>
                                <td> Very Unhealthy</td>
                            </tr>
                            <tr>
                                <td height="22">301 to 500</td>
                                <td>Hazardous</td>
                            </tr>
                        </tbody>
                    </table>

                    <h5>What is an AQI?</h5>

                    <p>
                        The AQI is an index for reporting daily air quality.
                        It tells you how clean or polluted your air is, and what
                        associated health effects might be a concern for you. The AQI
                        focuses on health effects you may experience within a few hours or
                        days after breathing polluted air. EPA calculates the AQI for five
                        major air pollutants regulated by the Clean Air Act: ground-level ozone,
                        particle pollution (also known as particulate matter), carbon monoxide,
                        sulfur dioxide, and nitrogen dioxide. For each of these pollutants, EPA has
                        established national air quality standards to protect public health .Ground-level
                        ozone and airborne particles are the two pollutants
                    </p>

                    <h5>How Does the AQI Work?</h5>

                    <p>
                        Think of the AQI as a yardstick that runs from 0 to 500. The higher the
                        AQI value, the greater the level of air pollution and the greater the health
                        concern. For example, an AQI value of 50 represents good air quality with little
                        potential to affect public health, while an AQI value over 300 represents hazardous
                        air quality.

                        An AQI value of 100 generally corresponds to the national air quality standard for
                        the pollutant, which is the level EPA has set to protect public health. AQI values
                        below 100 are generally thought of as satisfactory. When AQI values are above 100,
                        air quality is considered to be unhealthy-at first for certain sensitive groups of
                        people, then for everyone as AQI values get higher.
                    </p>

                    <a style="color:white;" href="https://airnow.gov/index.cfm?action=aqibasics.aqi">learn more...</a>

                    {% endif %}

                    {% if last_phrase.content == request.session.last_news_command %}
                        {% for article in request.session.bitcoin.articles %}
                            <p style="color: green; font-size: 28px;
                                ">{{article.title}}</p>
                            <p style="padding: 0 32px;">{{article.content}}</p>
                            <p style="padding: 0 32px;"><a href="{{article.url}}" target="_blank">{{article.url}}</a></p>
                        {% endfor %}
                    {% endif %}

                    {% if 'temperature of' in last_phrase.content %}
                        {% if "weatherimage" in request.session %}
                            <img class="weatherimage animated fadeInUp" src="{{request.session.weatherimage}}" alt="weatherimage">
                        {% endif %}
                    {% endif %}
                </div>

                <!-- <div class="button text-center">
                    <form action="/voice">
                        <button id="micbtn" type="submit" class="micbtn">
                                <i class="fa fa-microphone animated infinite pulse slow"></i>
                        </button>
                    </form>
                </div> -->

                <div class="button text-center">
                        {% csrf_token %}
                        <button id="micbtn_web" class="micbtn">
                                <i class="fa fa-microphone animated infinite pulse slow"></i>
                        </button>
                </div>

                <!-- <div class="container">
                    <h1>Voices</h1>
                    <div id="phrase">LOL</div>
                </div> -->

                <div class="footer">
                        <center>
                                <span class ="skills">Commands</span> <span class="about"> | About</span>
                        </center>
                    </div>
            </div>

        </div>
    </div>
    {% load static %}
    <script src="{% static 'voice_app/js/scripts.js' %}"></script>
    <script type="text/javascript">
        particlesJS("particles-js",
        {
        "particles": {
            "number": {
            "value": 160,
            "density": {
                "enable": true,
                "value_area": 800
            }
            },
            "color": {
            "value": "#ffffff"
            },
            "shape": {
            "type": "circle",
            "stroke": {
                "width": 0,
                "color": "#000000"
            },
            "polygon": {
                "nb_sides": 5
            },
            "image": {
                "src": "img/github.svg",
                "width": 100,
                "height": 100
            }
            },
            "opacity": {
            "value": 1,
            "random": true,
            "anim": {
                "enable": true,
                "speed": 1,
                "opacity_min": 0,
                "sync": false
            }
            },
            "size": {
            "value": 3,
            "random": true,
            "anim": {
                "enable": false,
                "speed": 4,
                "size_min": 0.3,
                "sync": false
            }
            },
            "line_linked": {
            "enable": false,
            "distance": 150,
            "color": "#ffffff",
            "opacity": 0.4,
            "width": 1
            },
            "move": {
            "enable": true,
            "speed": 1,
            "direction": "none",
            "random": true,
            "straight": false,
            "out_mode": "out",
            "bounce": false,
            "attract": {
                "enable": false,
                "rotateX": 600,
                "rotateY": 600
            }
            }
        },
        "interactivity": {
            "detect_on": "window",
            "events": {
            "onhover": {
                "enable": true,
                "mode": "bubble"
            },
            "onclick": {
                "enable": false,
                "mode": "repulse"
            },
            "resize": true
            },
            "modes": {
            "grab": {
                "distance": 400,
                "line_linked": {
                "opacity": 1
                }
            },
            "bubble": {
                "distance": 250,
                "size": 0,
                "duration": 2,
                "opacity": 0,
                "speed": 3
            },
            "repulse": {
                "distance": 400,
                "duration": 0.4
            },
            "push": {
                "particles_nb": 4
            },
            "remove": {
                "particles_nb": 2
            }
            }
        },
        "retina_detect": true
        })
    </script>

</body>

</html>
